.header-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png ');
  height: 30vh;
  width: 90vw;
  background-size: cover;
}
.logout-container {
  display: flex;
  flex-direction: row;
}
.logout-container {
  margin-left: 90%;
  margin-top: 4%;
}
.profile-logo {
  height: 30px;
}
.logout-btn {
  background-color: transparent;
  color: #3b82f6;
  border-color: #3b82f6;
  margin-left: 10px;
}
.get-btn {
  background-color: transparent;
  color: #475569;
  border-color: #475569;
  width: 8vw;
  height: 4vh;
}
.sub-heading
{
  max-width: 700px;;
}